@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500;600&family=Playfair+Display&family=Poppins:wght@300;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0px;
    margin: 0px;
}
footer{
    display: flex;
    background-color: black;
    padding-top: 40px;
    border-radius: 0px 158px 0px 0px;
}
footer h1,
footer p,
footer b{
    color: white;
}
footer div{
    width: 50%;
    margin-block: 20px;
    margin-inline: 50px;
}
footer div h1{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.01em;
    margin-bottom: 22px;
}
footer div p{
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
    margin-bottom: 22px;
}
footer div b{
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
footer div input,
footer div textarea{
    width: 40%;
    margin-inline: 15px;
    margin-bottom: 25px;
    padding-left: 11px;
    border: none;
    resize: none;
}
footer div input{
    height: 35px;
}
footer div textarea{
    padding-top: 7px;
    height: 100px;
}
/* PARA QUITAR FLECHAS DE INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
footer div input::placeholder
footer div textarea::placeholder{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.08em;
    color: #9F9F9F;
}
h1{
    overflow-y: hidden;
}
p{
    overflow: hidden;
}
a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Hind Vadodara', sans-serif;
}
.menu{
    position: absolute;
    width: 92vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 47px;
    padding-inline: 30px;
    z-index: 10;
}
.menu__item{
    position: relative;
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-inline: 10px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #331B3B;
}
.menu__item::after{
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    background-color: #FDC021;
    height: 2px;
    width: 0%;
    transition: all 0.2s ease-in;
}
.menu__item__selected{
    font-weight: bolder;
}
.menu__item:hover::after,
.menu__item__selected::after{
    width: 100%;
}
.menu__title{
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    font-weight: bolder;
    color: #331B3B;
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#menu__socialmedia{
    overflow: hidden;
}
.menu__socialmedia__a{
    margin-inline: 10px;
    padding: 10px;
    overflow: hidden;
}
#menu__burger{
    display: none;
}
#burger{
    display: none;
}
#burger__x__img{
    display: none;
}

/* ACA VAN ESTILOS DE SECTION */

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 5;
}
.container div{
    display: flex;
    flex-direction: column;
}
#container__te-ayudamos{
    margin-top: 120px;
    margin-inline: 35px;
    width: 48%;
}
#container__te-ayudamos h1{
    background-color: transparent;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 80px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #331B3B;
    padding-bottom: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#container__te-ayudamos h1 b{
    position: relative;
    z-index: 2;
    height: 90px;
    font-weight: 900;
}
.container__te-ayudamos__p__b{
    line-height: 70px;
    padding-bottom: 20px;
}
.container__te-ayudamos__p{
    margin: 0px;
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);

}
#container__te-ayudamos a{
    width: 40%;
    padding-block: 20px;
    margin-block: 20px;
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 137.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    background-color: #331B3B;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
.container__te-ayudamos__img{
    height: 450px;
    width: 450px;
}
#container__image-group3{
    position: relative;
    z-index: -2;
    width: 52%;
    min-height: 450px;
    min-width: 450px;
}
#container__image-group3 img{
    position: relative;
    z-index: -2;
}


/* FOOTER */
.footer__container__letters{
    text-align: start;
    padding-right: 50px;
}
.footer__container__contact{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.footer__container__contact div{
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 100%;
}
.footer__container__contact > button{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center ;
    padding-top: 4px;
    margin-left: 15px;
    width: 42%;
    background-color: #FE9A22;
    color: white;
}
.footer__container__contact img{
    height: 2vw;
    width: 2vw;
}
.footer__container__contact__div{
    margin: 0px;
    width: 40%;
    padding-bottom: 10px !important;
}
#footer__container__contact__place-and-img{
    align-items: end;
}
#footer__container__contact__place-and-img div {
    padding-left: 10px;
    flex-direction: column;
    width: 50%;
}
.footer__container__contact__div__info{
    width: 100% !important;
    flex-direction: row !important;
    align-items: center;
}
#footer__container__contact__div__info__1{
    margin-bottom: 10px;
}
.footer__container__contact__div__info p{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.08em;
    text-align: left;
}
@media screen and (max-width: 1000px){
    footer{
        flex-direction: column;
        align-items: center;
        padding-inline: 50px !important;
    }
    .menu__item__selected,
    .menu__item:hover{
        font-weight: bolder;
        color: #FDC021;;
    }
    .menu__item{
        padding-inline: 5px;
    }
    .menu__title{
        position: relative;
        font-size: 20px;
    }
    .menu__socialmedia__a{
        margin-inline: 5px;
    }
    #container-1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        right: 0;
    }
    #container__te-ayudamos{
        margin-top: 0px;
        width: 80%;
    }
    #container__image-group3{
        display: flex;
        align-items: end;
        width: 100%;
    }
    #container__te-ayudamos__img{
        position: relative;
        height: 60%;
        min-height: 500px;
        width: 60%;
        min-width: 500px;
        top: 0px;
        left: 0px;
    }
    #container__te-ayudamos a{
        width: 30%;
    }
    
    
 
    /* FOOTER */
    .footer__container{
        width: 100%;
    }
    footer div input,
    footer div textarea{
        display: flex;
        justify-content: left;
        width: 50%;
        margin-inline: 0px;
        margin-right: 10px;
        margin-bottom: 25px !important;
        border: none;
        resize: none;
    }
    .footer__container__contact{
        width: 100%;
        margin-left: 0px !important;
    }
    .footer__container__contact > button{
        margin-left: 0px;
        width: 48%;
    }
    .footer__container__contact img{
        height: 15px;
        width: 15px;
    }
    .footer__container__contact__div__info p{
        font-family: 'Poppins', sans-serif;
        margin: 0px;
        font-size: 1.6vw;
    }
}
@media screen and (max-width: 600px){
    .menu{
        position: absolute;
        right: 5px;
        z-index: 50;
        flex-direction: row-reverse;
    }
    .menu__item:hover::after,
    .menu__item__selected::after{
        width: 0%;
        display: none;
    }
    .menu__item__container{
        position: fixed;
        z-index: 2;
        top: 0px;
        left: -120%;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100vw;
        background-color: white;
        transition: all 0.2s ease-out;
    }
    #menu__burger{
        display: flex;
    }
    #burger__x{
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 30px;
        cursor: pointer;
    }
    #burger__x__img{
        display: flex;
        height: 20px;
        width: 20px;
    }
    #burger{
        position: absolute;
        right: 10px;
        z-index: 0;
    }
    #burger:checked + .menu__item__container{
        left: 0px;
    }
    #menu__item__fist{
        margin-top: 70px;
    }
    /* ACA VAN ESTILOS DE SECTION */
    #container__te-ayudamos__img{
        min-height: 400px;
        min-width: 400px;
    }
    #container__te-ayudamos a{
        width: 50%;
        min-width: 150px;
    }
    /* FOOTER */
    .footer__container__contact div{
        flex-direction: column;
    }
    footer div input,
    footer div textarea{
        width: 100%;
        margin-inline: 0px;
        margin-bottom: 25px;
        padding-left: 11px;
    }
    footer div input{
        height: 35px;
    }
    footer div textarea{
        padding-top: 7px;
        height: 100px;
    }
    .footer__container__contact__div{
        width: 100% !important;
        padding: 0px !important;
        margin-bottom: 20px;
    }
    .footer__container__contact__div__info{
        padding: 0px !important;
    }
    .footer__container__contact__div__info img{
        width: 20px;
        height: 20px;
        padding: 0px;
        overflow: hidden;
    }
    .footer__container__contact__div__info p{
        font-size: 16px;
    }
    #footer__container__contact__place-and-img{
        margin-bottom: 20px;
    }
}